.MainDiv {
    display: flex;
    flex-wrap: wrap;

}

.QuestionDiv {
    background-color: aqua;
    height: 500px;
    width: 80%;
}

.RewardsDiv {
    background-color: blue;
    width: 20%;
}

.AnswerDiv {
    width: 500px;
    height: 200px;
    background-color: red;
}


.False {
    background-color: red;
}

.True {
    background-color: green;
}

.Current {
    background-color: orange;
}

.RewardsDiv p.active {
    background-color: yellow;
    /* Promjena boje pozadine kao primer */
    font-weight: bold;
}

.GameOver {

    width: 50%;
    height: 500px;
    z-index: 55;
    background-color: blue;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 25%;
    top: 20%;

}