.MainDiv {
    display: flex;
    flex-wrap: wrap;

}

.QuestionDiv {
    background-color: aqua;
    height: 500px;
    width: 80%;
}

.RewardsDiv {
    background-color: blue;
    width: 20%;
}

.AnswerDiv {
    width: 500px;
    height: 200px;
    background-color: red;
}


.False {
    background-color: red;
}

.True {
    background-color: green;
}

.Current {
    background-color: orange;
}

.RewardsDiv p.active {
    background-color: yellow;
    /* Promjena boje pozadine kao primer */
    font-weight: bold;
}